// https://m3.material.io/styles/color/the-color-system/key-colors-tones

// Accent Colors
$primary: rgb(61, 180, 242);
$on-primary: #ffffff;

// Neutral Colors
$background: #2b2d42;
$on-background: #ffffff;

$surface: rgb(250, 252, 252);
$on-surface: #02021c;

// Additional Colors
$error: #e85d75;
$on-error: #ffffff;
