@use 'src/styles/color';

.view-play {
	height: 100%;
	gap: 3rem;
	display: grid;
	place-content: center;

	.progress {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: max-content;
		gap: 1rem;
	}

	.duel {
		display: grid;
		grid-template-columns: 18rem 18rem;
		grid-auto-rows: max-content;
		gap: 1.5rem 3rem;

		kbd {
			justify-self: center;
		}
	}
}
